.vidplayer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    height: 150vh;
    /* width: 100vw; */
    background-color: rgb(101, 0, 184);
}
.img{
  height:100vh;
  width: 40vw;
}
.home-btn4{
  background-color: white;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 50px;
}

.home-btn4 a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.vid-container{
  width: 75vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 767px){
  .img{
    width: 100vw;
  }
}